.grid{
    background-color: rgb(235, 111, 111);
    width:700px;
    margin:0 auto;
    padding:0px;
    display:flex;
    flex-wrap: wrap;
}
.square{
    background-color: white;
    border-right:0.1px black solid;
    border-bottom:0.1px black solid;
    margin:0;
    flex-shrink: 0;
    box-sizing: border-box;
}