.grid{
    background-color: white;
    width:700px;
    margin:0 auto;
    padding:0px;
    display:flex;
    flex-wrap: wrap;
}
.square{
    background-color: white;
    border-right:0.1px black solid;
    border-bottom:0.1px black solid;
    margin:0;
    flex-shrink: 0;
    box-sizing: border-box;
}
.frame{
    background-color: gray;
    padding:10px;
    margin:0 auto;
}
body{
    display:flex;
    flex-direction: column;
}
.frame-header{
    background-color:lightgray;
    padding: 10px;
    width:700px;
    margin:0 auto;
    display:flex;
    justify-content: center;
}